body{
    background-image: url(../image/fondoimpacto.png);
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    min-height: 100vh;
    padding-bottom: 50px;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
}

.icono {
    width: 70px;
    height: 70px;
}

.texto {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.texto1 {
    font-weight: bold;
    font-size: 20px;
}

.texto2 {
    font-size: 18px;
    font-weight: bold;
}

.nav-linkss{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    background-color: #1e40afe0;
    color: white;
    z-index: 10;
}

.menu {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.menu a {
    padding: 8px 16px;
    border-radius: 16px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: black;
    transition: 0.3s;
}
nav ul{
    display: flex;
    gap: 20px; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

.header{
    text-align: center;
    padding: 60px 20px 30px;
}

.header h2{
    color: black;
    font-size: 2.5rem;
}

.header h3{
    background: #6daeff;
    border-radius: 5px;
    border: 3px solid  #2563eb;
    font-size: 1.2rem;
    padding: 20px;
}

.cifras{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 40px 20px;
}

.card{
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 9px 20px rgba(59, 130, 246, 0.3);
    border: 3px solid #60a5fa;
}

.card:hover {
    background-color: #60a5fa;
    color: white;
    transform: scale(1.05);
}

.card h1 {
    text-align: center;
    font-size: 4rem;
    color: #2563eb;
    font-weight: bold;
}

.titulo h2{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.grafico h2{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.card p{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.footnote{
    font-size: 0.8rem;
    color: gray;
}

.grafico{
    width: 70vw;
    background-color: white;
    border: 3px solid #60a5fa;
    box-shadow: 0 6px 18px rgba(59, 130, 246, 0.3);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    margin: auto;
}

.grafico1{
    margin: 15px 0;
}

.grafico1 span{
    display: block;
    margin-bottom: 5px;
}

.rescatados {
    width: 100%;
    background-color: #60a5fa;
}

.adoptados {
    width: 89%;
    background-color: #60a5fa;
}

.voluntarios {
    width: 40%;
    background-color: #60a5fa;
}

.eventos {
    width: 30%;
    background-color: #60a5fa;
}

.barra {
    height: 30px;
    border-radius: 10px;
}

.narrativa{
    background: #6daeff;
    border-radius: 5px;
    border: 3px solid  #2563eb;
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    padding: 10px;
}

.boton{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.9rem 1.2rem;
    background-color: #dbeafe;
    border: 3px solid #60a5fa;
    box-shadow: 0 6px 18px rgba(59, 130, 246, 0.3);
    color: #1e3a8a;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.boton:hover{
    background-color: #2563eb;
    color: white;
    transform: scale(1.05);
}

@media(min-width:560px){
    .nav-linkss{
        font-size:14px;
    }
    .logo{
        flex-direction:column;
        text-align:center;
    }
    .cifras{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width:1024px){
    .nav-linkss{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        font-size:16px;
    }
    .logo{
        flex-direction:column;
        text-align:center;
    }
    .cifras{

        grid-template-columns: repeat(4,1fr);
    }

}

