body {
    background-color: #f8fafc;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
}

.icono {
    width: 70px;
    height: 70px;
}

.texto {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.texto1 {
    font-weight: bold;
    font-size: 20px;
}

.texto2 {
    font-size: 18px;
    font-weight: bold;
}

.nav-links {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: black;
    transition: 0.3s;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 5%;
    background-color: #1e40af;
    /*background-color: #17730d;*/
    color: white;
    z-index: 10;
}

.principal {
    min-height: 65vh;
    display: flex;
    align-items: center;
    padding: 5vw;
    background-image: url("../image/playapet.png");
    background-position: center;
    background-size: cover;
    color: white;
}

.principal-content {
    max-width: 720px;
}

.principal h1 {
    font-size: 3rem;
    margin: 0 0 1rem;
}

.principal p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.boton {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.9rem 1.2rem;
    background-color: white;
    color: #1e3a8a;
    /*color: black;*/
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #2563eb;
    /*background-color: #17730d;*/
    color: white;
    transform: scale(1.05);
}

.container {
    width: 92%;
    max-width: 1000px;
    margin: 2rem auto;
}

.section h2 {
    font-size: 2rem;
    color: #0f172a;
}

.cards {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.rescatar {
    width: 60px;
    height: 60px;
}

.cuidar {
    width: 60px;
    height: 60px;
}

.rehabilitar {
    width: 70px;
    height: 70px;
}

.ubicamos {
    width: 60px;
    height: 60px;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    /*border: 3px solid #17730d;*/
    box-shadow: 0 6px 18px rgba(59, 130, 246, 0.3);
    border: 2px solid #93c5fd;
    /*box-shadow: 0 4px 12px #17730d;*/
}

.card:hover {
    background-color: #60a5fa;
    /*background-color: #34b925;*/
    color: white;
    transform: scale(1.05);
}

.card h3 {
    color: #2563eb;
    /*color: #17730d;*/
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    width: 90%;
    margin: auto;
}

.botones {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.9rem 1.2rem;
    background-color: #dbeafe;
    color: #1e3a8a;
    /*color: black;*/
    text-decoration: none;
    /*background-color: #a4dd9e;*/
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.botones:hover {
    background-color: #2563eb;
    /*background-color: #17730d;*/
    color: white;
    transform: scale(1.05);
}

.section h2 {
    text-align: center;
    font-size: 3rem;
}

.misionvision {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.cardsss {
    flex: 1 1 400px;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0 6px 18px rgba(59, 130, 246, 0.3);
    border: 2px solid #93c5fd;
    /*box-shadow: 0 4px 12px #17730d;
    border: 3px solid #17730d;*/
}

.cardsss:hover {
    background-color: #60a5fa;
    /*background-color: #34b925;*/
    color: white;
    transform: scale(1.05);
}

.footer {
    width: 100%;
    margin-top: 9rem;
    text-align: center;
    background-color: #1e3a8a;
    /*background-color: #17730d;*/
    color: white;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.know-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 900px;
  background-color: #f0f9ff;
  /*background-color: white;*/
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(59, 130, 246, 0.3);
  border: 2px solid #93c5fd;
  /*box-shadow: 0 4px 12px #17730d;
  border: 3px solid #17730d;*/
  padding: 20px;
}
.know-us:hover{
    background-color: #60a5fa;
    /*background-color: #34b925;*/
    color: white;
    transform: scale(1.05);
}
.know-us div.texto-card {
    grid-column: 4/9;
}

.texto-card {
  text-align: justify;
  padding-right: 10px;
}

.know-us img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

@media (min-width: 768px) {
    .know-us {
        grid-template-columns: 400px, 400px;
        
    }
}

@media (min-width: 1024px) {
    .know-us {
        grid-template-columns:repeat(12, 1fr);
        grid-offset: 20px;
    }
}

/**/
.nav-linkss{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    background-color: #67acfa;
    color: white;
    z-index: 10;
}
.titulo{
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 40px;
}

.adoptar{
    background-image: 
    linear-gradient(rgba(255,255,255,0.45),
    rgba(255,255,255,0.45)),
    url(../image/fondoadoptar.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 50px;
}

.catalogo{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}

.card-animal{
    background: rgba(255,255,255,0.95);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(59,130,246,0.3);
    border: 3px solid #93c5fd;
    transition: 0.3s;
    text-align: center;
}

.card-animal:hover{
    transform: translateY(-10px) scale(1.02);
}

.card-animal img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nombre{
    font-size: 2rem;
    color: #1e3a8a;
    margin: 0;
}

.edad{
    font-size: 1rem;
    font-weight: bold;
    color: #374151;
}


.estado{
    display: inline-block;
    margin: auto;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.available{
    background: #bbf7d0;
    color: #166534;
}

.adopted{
    background: #fecaca;
    color: #991b1b;
}

.btn{
    display: inline-block;
    background: #2563eb;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    background: #1d4ed8;

    transform: scale(1.05);
}